*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
  font-family: inter;
}

:root {
    --primary-blue:  rgb(86, 140, 249);
    --mid-dark-blue:rgb(37, 82, 172);
}
